@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Pacifico',sans-serif;
    color:black;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    width:100%;
    margin-bottom: 1rem;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: rgba( 211, 215, 203, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-bottom: 1.5rem;
}

.insta-logo,.main-text,.section,.working-image,.design-image{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.insta-logo img{
    border-radius: 50%;
}




.btn-grad {background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
   background-image: url('images/background.jpg');
   background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}




 .sm-section{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 60%;
 }

 .sm-section i{
     margin-top: 0.5rem;
 }

 a{
    color:inherit;
    text-decoration:none;
 }

 h3{
     margin: 0.1rem;
 }
