@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #11998e, #38ef7d); 
    font-family: 'Poppins',sans-serif;
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: rgba( 211, 215, 203, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-bottom: 1.5rem;
}

.insta-logo,.main-text,.section,.working-image,.design-image{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
}

.insta-logo img{
    border-radius: 50%;
}


.btn-grad {background-image: linear-gradient(to right, #11998e, #38ef7d); }
.btn-grad {
   margin: 10px;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
 }

 .working-image img,.design-image img{
    border-radius: 30px;
 }

 .sm-section{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 60%;
 }

 .sm-section i{
     margin-top: 1.2rem;
 }

 a{
    color:inherit;
    text-decoration:none;
 }

 h2,h4{
     margin: 0.5rem;
 }
